.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
# Ensure HTML and Python files in src/ are included in the VSIX
!src/**/*.html
!src/**/*.py
